<ion-view view-title="Why are you here?">
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="center_table">
      <div class="row">
        <div class="col">
          <button class="button button-energized" ng-click="goToChallenge()">
            <img class="image" ng-src="img/sport.png" width="200px"/>
            <div class="home_text">
              Sport
            </div>
          </button>
        </div>
        <div class="col">
          <button class="button button-calm" ng-click="goToChallenge()">
            <img class="image" ng-src="img/horse.png" width="200px"/>
            <div class="home_text">
              Kapture the Kelpie
            </div>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-royal" ng-click="goToChallenge()">
            <img class="image" ng-src="img/family.png" width="200px"/>
            <div class="home_text">
              Family activities
            </div>
          </button>
        </div>
        <div class="col">
          <button class="button button-assertive" ng-click="goToChallenge()">
            <img class="image" ng-src="img/compass.png" width="200px"/>
            <div class="home_text">
              Take a tour
            </div>
          </button>
        </div>
      </div>
</div>

  </ion-content>
</ion-view>
