<ion-view view-title="Home">
  <ion-nav-bar class="bar-stable bar-positive">

    <button class="button icon-left ion-home"></button>

  </ion-nav-bar>
    <ion-content class="padding">
        <div class="center_vertical">
            <button class="button button-balanced" ng-click="showInfo()">
              <img class="image" ng-src="img/tree.png" width="200px"/>
              <div class="home_text">
                Info
              </div>
            </button>
            <button class="button button-positive" ng-click="showMap()">
              <img class="image" ng-src="img/map.png" width="200px"/>
              <div class="home_text">
                My map
              </div>
            </button>
        </div>
    </ion-content>
</ion-view>
