<ion-view view-title="About this app">
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-content>
      <div class="card">
        <div class="item item-divider">
          Instruction to use
          </div>
        <div class="item item-text-wrap">
        To use this app please press My map button on your
          <a href="#tab/home" class="center_vertical">home screen</a>.
        You can find a way to your treasure by solving challenges
        and building a route on a map.
          </div>
      </div>

    </ion-content>
</ion-view>
