<ion-view view-title="Some useful info">
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <!--<ion-nav-bar>-->

    <!--</ion-nav-bar>-->
    <div class="card">
      <div class="item item-divider"> Early days</div>
      <div class="item item-text-wrap">
        <p>The Helix was borne from an idea in 2003 to build an ecopark as part of the Falkirk Greenscape Initiative, transforming 350 hectares of land between Falkirk and Grangemouth. Today, The Helix connects 16 local communities through our extensive path networks.
</p>
    <p>    In the summer of 2005 Big Lottery launched its Living Landmarks fund - established to help communities improve their local environment. The partners behind My Future's in Falkirk submitted a bid on behalf of The Helix.
    </p>
        <p>    Falkirk Council, Central Scotland Forest Trust and British Waterways Scotland (now Scottish Canals), with support from the project's conceptual designers, prepared a detailed masterplan for a unique outdoor greenspace that connected the communities of Falkirk, Grangemouth and 14 other local communities.
</p>
        <p>The first Helix bid was submitted to the Big Lottery Fund in early 2006. In August 2006, Big Lottery awarded The Helix a development grant to prepare a Stage 2 submission. This enabled The Helix to bid for a grant of between £10 million and £25 million.
</p>
        <p>        After an anxious wait, The Helix was awarded the maximum £25 million grant from Big Lottery in November 2007 - one of only three UK projects selected to receive cash from the Lottery's Living Landmarks programme.
</p>
        <p>2008 and 2009 were spent finalising the Phase One Technical Design and Business Plan, both of which were required for the project to go ahead. Construction work began with the Helix South network of paths in April 2011, which were opened in June 2011 with over 600 local people making the opening event a very special occasion.
</p>
        <p>Construction continued in the four main Helix Zones, transforming the landscape of the local area and creating quite a buzz amongst the local populace.
        Helix Day 2013
</p>
        <p>On 14th September 2013, Helix Day celebrated the opening of Helix Park, the zone at the heart of The Helix. Nearly 20,000 attended the event, which saw community art projects meet popular artists to create a series of colourful spectacles across the park.
</p>
        <p>The Helix remains busy to this day, with runners, dog walkers, Nordic Walkers, cyclists and skaters all being active and enjoying our The Helix.</p>


      </div>
    </div>


  </ion-content>
</ion-view>
