<ion-view view-title="Home">
  <ion-content class="padding">
      <div>
        <div class="center_vertical">
          <a href="#/tab/home/" style="text-decoration:none" class="action_image vertical-middle horizontal-middle">
            <button class="button button-balanced">
                <img class="image" src="img/tree.png" width="200px"/>
                <div class="home_text">
                  Info
                </div>
            </button>

            <button class="button button-positive">
              <img class="image" src="img/map.png" width="200px"/>
              <div class="home_text">
                My map
              </div>
            </button>

          </a>
        </div>
      </div>
  </ion-content>
</ion-view>
