
div.center_vertical {
  position: relative;
  left: 25%;
  top: 10%;
}

div.center_table {
  position: relative;
  right: 5%;
  top: 10%;
}

/* Always set the map height explicitly to
 define the size of the div * element
 that contains the map. */
#map {
  height: 100%;
}

